<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='graficos.css') }}">
    <title>Dados - Predição ML</title>
</head>

<header>

    <div class="namepagina">
        <h1>Predição Diabetes</h1>
        <a class="namepagina" href="/">Volta para Predição</a>
    </div>

   
</header>

<body>
    <a>Graficos</a>
    <p>dados</p>
    <p>dados</p>
    <p>dados</p>
    <p>dados</p>
    





</body>
</html>